<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
    <link rel="stylesheet" href="loginstyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <br><br><br><br>
    <form action="/validatelogin" method="POST">
    <table>
        <tr><th><h1>Login</h1></th></tr>
       
        <tr>
            <th>EmailID</th>
        </tr><tr>
            <th><input type="text" name="email" id="email" placeholder="Enter your email" required></th>
        </tr>
        <tr>
            <th>Password</th>
        </tr>
        <tr>
            <th><input type="password" name="pword" id="pword" placeholder="Enter your password" required ></th>
        </tr>
        <tr>
            <th></th>
            
        </tr>
        <tr>
            <th><input type="submit"/></th>
        </tr>
</table></form>
</body>
</html>