<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup form</title>
    <link rel="stylesheet" href="signupstyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>
<body>
    <br><br><br><br>
    <form action="/validatesignup" method="POST" name="f" onsubmit="return check()" autocomplete="off">
    <table>
        <tr><th><h1>Login</h1></th></tr>
        <tr>
            <th>First Name</th>
            <th><input type="text" placeholder="Enter your firstname" name="name" id="name"required></th>       
        </tr>
        <tr>
            <th>rollNo</th>
            <th><input type="number" placeholder="Enter your rollNo" name="rno" id="rno"required></th>
        </tr><tr>
            <th>EmailID</th>
            <th><input type="text" placeholder="Enter your emailid"name="email" id="email" required></th>
        </tr>
        <tr>
            <th>Enter the New Password</th>
            <th><input type="text" placeholder="Enter your password"name="pword" id="pword" required></th>
        </tr>
        <tr>
            <th>Confirm Password</th>
            <th><input type="text" placeholder="Confirm password" name="cword" id="cword"required></th>
        </tr
        <tr>            
        </tr>
        <tr>
            
            <th style="width: 1000px;"><input id="btn" value="Register" type="submit"/></th>
        </tr>
        <tr>
            
        </tr>
</table></form>
</body>
</html>
                                                        
                                              
                                    
                   
          



